/*Aqui el link de las fuentes a utilizar en este portafolio*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root{
    --color-uno: #AC4425;
    --color-dos: #fff;
    --color-mi: #111135;
    --color-foto: #F5EDDC;
    --color-linea: #d3d3d3;
    --color-mi-p: #565656;
    --color-mi-boton: #000;
    --color-experiencia-fondo: #f3f3f3; 
    --color-experiencia-h: #8a8a8a;
    --color-barra: #919191;
}

html {
    scroll-behavior: smooth;
}

/*Para inicio*/

#inicio{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/imagenes/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: var(--color-uno);
}

/*Para el nav*/

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: var(--color-dos);
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: var(--color-uno);
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: var(--color-dos);
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: var(--color-uno);
}

/*Para la presentacion*/

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: var(--color-dos);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenido {
    font-size: 1rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 25px;
    color: var(--color-uno);
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid var(--color-dos);
    border-radius: 50px;
    color: var(--color-dos);
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
} 

#inicio .contenido .presentacion a:hover{
    background-color: var(--color-uno);
} 

#icono-nav {
    color: var(--color-dos);
    display: none;
}

/*Sobre Mi*/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: var(--color-mi);
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--color-foto);
}

#sobremi .sobremi{
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-mi);
    text-decoration: underline;
    text-decoration-color: var(--color-uno);
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span{
    color: var(--color-uno);
}

#sobremi .sobremi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p{
    font-size: 14px;
    line-height: 25px;
    color: var(--color-mi-p) ;
    margin-bottom: 12px;
}

#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: var(--color-mi-boton);
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid var(--color-mi-boton);
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover{
    background-color: var(--color-uno);
    color: var(--color-dos);
}

/*Experiencias*/

#experiencias {
    padding: 100px 15px;
    text-align: center;
    background-color: var(--color-experiencia-fondo);
}

#experiencias .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-mi);
    text-decoration: underline;
    text-decoration-color: var(--color-linea);
    text-decoration-thickness: 5px;
}

#experiencias .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#experiencias .fila .experiencia{
    max-width: 350px;
    background-color: var(--color-dos);
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#experiencias .fila .experiencia:hover{
    box-shadow: 5px 5px 10px var(--color-mi-p) , -5px -5px 10px var(--color-experiencia-h);
}

#experiencias .fila .experiencia h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#experiencias .fila .experiencia .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-uno);
    padding: 20px;
    margin-bottom: 25px;
}

#experiencias .fila .experiencia hr{
    width: 30%;
    margin: auto;
    color: var(--color-mi-boton);
    margin-bottom: 25px;
} 

#experiencias .fila .experiencia ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#experiencias .fila .experiencia p{
    font-size: 14px;
    line-height: 22px;
}

/*Habilidades*/

.contendor-skills {
    background: linear-gradient(#AC4425, rgba(33,16,16,.8)), url(/imagenes/fondo-skills.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-position: 0 auto;
    text-align: center;
    color: #000;
    font-weight: bo;
}

.contendor-skills .skill{
    max-width: 600px;
    margin: 0 auto;
}

.contendor-skills .skill .info{
    display: flex;
    justify-content: space-between;
}

.contendor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: var(--color-dos);
}

.contendor-skills .skill .barra{
    background-color: var(--color-barra);
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/*Estas seran las barras de cada herramienta*/

.contendor-skills .skill .barra .barra-progreso1{
    background-color: var(--color-dos);
    width: 87%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contendor-skills .skill .barra .barra-progreso2{
    background-color: var(--color-dos);
    width: 84%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contendor-skills .skill .barra .barra-progreso3{
    background-color: var(--color-dos);
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contendor-skills .skill .barra .barra-progreso4{
    background-color: var(--color-dos);
    width: 80%;
    height: 6px;
    animation: progreso4 2s forwards;
}

/*Las animaciones de cada barra*/

@keyframes progreso1 {
    0% {
        width: 0;
    }
    87% {
        width: 87%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    84% {
        width: 84%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    90% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    80% {
        width: 80%;
    }
}

/*Vamos con la parte del portafolio*/

#portafolio{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portafolio .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--color-mi);
    text-decoration: underline;
    text-decoration-color: var(--color-linea);
    text-decoration-thickness: 5px;
}

